html {
    scroll-behavior: smooth;
}

.__pointer {
    cursor: pointer;
}

.__mono {
    font-family: monospace;
}

.__font10 {
    font-size: 10px;
}

.__font12 {
    font-size: 12px;
}

// Custom scrollbar
.__scrollbar {
    &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #373737;
    }
}
